.nav{
    position: absolute;
    height: 6rem;
    width: 100%;
    left: 0px;
    top: -22px;
    background: #3599F5;
    border-radius: 20px;
    justify-content: center;
    flex: 1;
    display: flex;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    
}
.nav a {
    margin-top: 1rem;
    line-height: 20px;
    color: #f0f8ff;
    text-decoration: none;
    display: flex;
    width: 15%;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}
.nav img {
    margin-top: 1.5rem;
}



body {
    background-color:#f0f8ff;
}